<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <div class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 sm:py-8 sm:px-10 border-b bg-card dark:bg-transparent">
        <div class="flex-1 min-w-0">
<!--            <div class="flex flex-wrap items-center font-medium">-->
<!--                <div>-->
<!--                    <a class="whitespace-nowrap text-primary-500">User Interface</a>-->
<!--                </div>-->
<!--            </div>-->
            <div class="mt-2">
                <h2 class="text-3xl md:text-4xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Concours
                </h2>
            </div>
        </div>


        <div class="flex items-center">
            <div class="flex items-center flex-auto">
                <button
                    class="flex lg:hidden -ml-2"
                    mat-icon-button>
                    <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
                </button>
                <mat-form-field class="fuse-mat-rounded fuse-mat-dense fuse-mat-no-subscript flex-auto ml-4 lg:ml-0">
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_solid:search'"
                        matPrefix></mat-icon>
                    <input
                        matInput
                        [autocomplete]="'off'"
                        [placeholder]="'Recherche'"

                        #searchInput>
                </mat-form-field>
            </div>
            <!-- New note -->
            <button
                (click)="addConcours()"
                class="ml-4 px-1 sm:px-4 min-w-10"
                mat-flat-button
                [color]="'primary'"
            >
                <mat-icon
                    class="icon-size-5"
                    [svgIcon]="'heroicons_solid:plus-circle'"></mat-icon>
                <span class="hidden sm:inline-block ml-2">Nouveau concours</span>
            </button>
        </div>
    </div>

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">
        <div class="flex flex-wrap items-start w-full max-w-400 -m-4">

            <!-- Card #3 - Flippable card -->
            <fuse-card
                *ngFor="let con of concours"
                class="flex flex-col max-w-80 w-full filter-article filter-interactive"
                [flippable]="true"
                [face]="'front'"
                #flippableCard01="fuseCard">
                <ng-container fuseCardFront>
                    <img
                        class="object-cover"
                        [src]=makeImageUrl(con?.path)
                        alt="Card cover image">
                    <div class="m-8 mb-4">
                        <div class="text-2xl font-semibold leading-tight">{{con?.name}}</div>
                        <div class="mt-4">
                            <p class="text">
                                {{con?.description}}
                            </p>
                        </div>
                        <div class="mt-3 -mx-3">
                            <button
                                class="px-3"
                                mat-button
                                [color]="'primary'"
                                (click)="flippableCard01.face = flippableCard01.face === 'front' ? 'back' : 'front'">
                                Lire plus
                            </button>

                            <button
                                (click)="addResultat(con)"
                                class="ml-4 px-1 sm:px-4 min-w-10 btnSave"
                                mat-flat-button
                                [color]="'primary'"
                            >
                                <span class="hidden sm:inline-block ml-2">Publier le résultat</span>
                                <mat-icon
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:chart-bar'"></mat-icon>
                            </button>
                        </div>
                    </div>
                </ng-container>
                <ng-container fuseCardBack>
                    <div class="flex flex-col flex-auto m-4">
                        <button
                            class="ml-1.5"
                            mat-icon-button
                            (click)="flippableCard01.face = flippableCard01.face === 'front' ? 'back' : 'front'">
                            <mat-icon [svgIcon]="'heroicons_outline:arrow-narrow-left'"></mat-icon>
                        </button>
                        <div class="m-4 mt-3">
                            <div class="text-2xl font-semibold leading-tight">
                                {{con?.name}}
                            </div>
                            <div class="mt-4">
                                {{con?.description}}
                            </div>
                        </div>
                    </div>
                </ng-container>
            </fuse-card>

        </div>

    </div>
    <mat-paginator
        (page)="getPage($event)"
        [length]="totalElements"
        [pageSize]="size">
    </mat-paginator>
</div>

