table {
    width: 100%;
}
.mat-checkbox .mat-checkbox-frame {
    transform: scale(4);
}

.mat-checkbox-checked .mat-checkbox-background {
    transform: scale(4);
}

.docState {
    height: 20px;
    width: 25%;
    color: white;
    border-radius: 10px;
    text-align: center;
    margin-left: 20px;
}
.docAccepted {
    background-color: green;
}

.docRejected {
    background-color: red;
}
